.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.td {
  display: table-cell;
}

.rc-collapse-content{
  background-color: #13192a !important;
  color:white !important;
}
.rc-collapse .rc-collapse-item .rc-collapse-header{
  color:black !important;
}
.select-box{
  border: none;
  margin-top: 1vw;
  padding: 0.75vw;
  width: 100%;
  color: black;
  background-color: whitesmoke;
  font-size: 1vw;
}